.boton{
  background-color: transparent;
  border-radius: 10px;
  padding-inline: 1rem;
  padding-block: 0.5rem;
} 
.btn-red{
  color: #fff;
  background-color: #CE382B;
  transition: all 0.3s ease-in-out;
  border: none;
}
.btn-red:hover{

  background-color: rgb(224, 81, 68);

}
.btn-black{
  color: #fff;
  background-color: #1B1B1A;
  transition: all 0.3s ease-in-out;
  border: none;
}
.btn-black:hover{

  background-color: #3f3f3f;

}